
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&family=Raleway:wght@400;600;700;800&display=swap');

:root{
    --bgc: #3aafa9;
    --signbtn: #FEB139;
    --h: #feffff;
    --input: #def2f1;
    --input-text: #0150506;
}
*{
    padding: 0;
    margin: 0;
    outline: 0;
    font-family: "Raleway", sans-serif;
}

body{
    background-color: #3aafa9;
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.flex{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone-img{
    height: 650px;
    position: absolute;
    top: 35px;
}

.form{
    width: 100%;
}

.flex-column{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


.flex-2{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex h1{
    margin-top: 50px;
    padding: 25px 0;
    font-weight: 800;
    color: var(--h);
    font-size: 2rem;
}

.input-form{
    border-radius: 13px;
    padding: 10px 30px;
    margin: 0 10px 20px 0;
    color: var(--input-text);
    border: none;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.16);
}

.btn{
    border-radius: 13px;
    padding: 15px 30px;
    border:none;
    background-color: white;
    text-align: center;
    font-weight: 600;
    width: 26.2rem;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.16);
    font-size: 1rem;
    margin: 5px 0;
    translate: var(--input-text);
    color: #0d0d0d;
}

.btn-submit{
    border-radius: 13px;
    padding: 15px 30px;
    border:none;
    background-color: var(--signbtn);
    text-align: center;
    font-weight: 600;
    width: 26.2rem;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.16);
    font-size: 1rem;
    margin: 5px 0;
    translate: var(--input-text);
    color: var(--input-text);
}
.btn:hover{
    transform: translate(0,-2px);
    transition: 100ms ease-in-out;
}

.email-btn{
    width: 23.2rem;
    text-align: left;
    border: none;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.16);
}

row{
    justify-content: space-between;
}

.divider{
    text-align: center;
    width: 26.2rem;
    margin: 10PX 0;
    font-size: 1.3REM;
    color: rgb(22, 22, 22);
    font-weight: 600;
    display: inline;
}

hr{
    width: 30%;
    margin-bottom: 30PX;
    margin-top: -5px;
    border: 3px solid var(--signbtn);
    border-left: 0;
    border-right: 0;
    border-bottom: 0vh;
    background-color: var(--signbtn);
}

.right-float{
    top:100px;
}